body{
   /* background-image: url('../assets/purpleSky.svg');*/

}
.game {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    }
    
    .div1 { grid-area: 6 / 6 / 7 / 7; background-color: black;}
    .div2 { grid-area: 6 / 5 / 7 / 6; background-color: black;}
    .div3 { grid-area: 6 / 4 / 7 / 5; background-color: black;}
    .div4 { grid-area: 5 / 4 / 6 / 5; background-color: black;}
    .div5 { grid-area: 4 / 4 / 5 / 5; background-color: black;}
    .div6 { grid-area: 4 / 3 / 5 / 4; background-color: black;}
    .div7 { grid-area: 4 / 2 / 5 / 3; background-color: black;}
    .div8 { grid-area: 4 / 1 / 5 / 2;background-color: black; }
    .div9 { grid-area: 5 / 1 / 6 / 2; background-color: black;}
    .div10 { grid-area: 6 / 1 / 7 / 2; }
    .div11 { grid-area: 7 / 1 / 8 / 2; }
    .div12 { grid-area: 8 / 1 / 9 / 2; }
    .div13 { grid-area: 9 / 1 / 10 / 2; }
    .div14 { grid-area: 9 / 2 / 10 / 3; }
    .div15 { grid-area: 9 / 3 / 10 / 4; }
    .div16 { grid-area: 9 / 4 / 10 / 5; }
    .div17 { grid-area: 8 / 4 / 9 / 5; }
    .div18 { grid-area: 8 / 3 / 9 / 4; }
    .div19 { grid-area: 8 / 2 / 9 / 3; }
    .div20 { grid-area: 7 / 2 / 8 / 3; }
    .div21 { grid-area: 6 / 2 / 7 / 3; }
    .div22 { grid-area: 5 / 2 / 6 / 3; }
    .div23 { grid-area: 6 / 7 / 7 / 8; }
    .div24 { grid-area: 6 / 8 / 7 / 9; }
    .div25 { grid-area: 5 / 8 / 6 / 9; }
    .div26 { grid-area: 4 / 8 / 5 / 9; }
    .div27 { grid-area: 4 / 9 / 5 / 10; }
    .div28 { grid-area: 4 / 10 / 5 / 11; }
    .div29 { grid-area: 4 / 11 / 5 / 12; }
    .div30 { grid-area: 5 / 11 / 6 / 12; }
    .div31 { grid-area: 6 / 11 / 7 / 12; }
    .div32 { grid-area: 7 / 11 / 8 / 12; }
    .div33 { grid-area: 8 / 11 / 9 / 12; }
    .div34 { grid-area: 9 / 11 / 10 / 12; }
    .div35 { grid-area: 9 / 10 / 10 / 11; }
    .div36 { grid-area: 9 / 9 / 10 / 10; }
    .div37 { grid-area: 9 / 8 / 10 / 9; }
    .div38 { grid-area: 8 / 8 / 9 / 9; }
    .div39 { grid-area: 8 / 9 / 9 / 10; }
    .div40 { grid-area: 8 / 10 / 9 / 11; }
    .div41 { grid-area: 7 / 10 / 8 / 11; }
    .div42 { grid-area: 6 / 10 / 7 / 11; }
    .div43 { grid-area: 5 / 10 / 6 / 11; }