:root {
    --borderE: 16px;
    --borderI: 32px;


    --color1: #68b2f8;
    --color2: #506ee5;
    --color3: #7037cd;
    --color4: #651f71;
    --color5: #3B0944;
}

html{
    min-height: 100%;
}
  
body{
    margin: 0;
    padding: 0;
}

.handbox{
    width: 100vw;
    height: 0px;
    display: flex;
    justify-content: center;
}

.oponentHand{
    position: fixed;
    top: 10px;
    display: flex;
    flex-direction: row;
    z-index: 20;
    
    min-width: 360px;
    width: auto;
    padding: 5px;
    min-height: 90px;

    /* width: 50vw; */
    background-color: var(--color5);
    
}

.oponentHand .handSlot{
    margin: 0 2px 0 2px;
    background: white;
    border-radius:  5px;
    border: solid black 2px;
}

.hand{
    position: fixed;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    z-index: 20;
    
    min-width: 360px;

    width: auto;
    padding: 5px;
    min-height: 90px;

    /* width: 50vw; */
    background-color: var(--color5);
    
}

.hand, .oponentHand {
    /* display: none; */
}

.hand .handSlot{
    margin: 0 2px 0 2px;
    background: white;
    border-radius:  5px;
    border: solid black 2px;
}

.main{
    background-color: green;
    /* width: 100%;
    height: 100%; */
    
    display: block;
    
    width: 1980px;
    height: 1080px;
}

.table {

    /* position: absolute;
    bottom: 0; */
    
    /* position: fixed; */



    background-color: blue;
    display: grid;
    
    grid-template-columns: repeat(17, 94px);
    grid-template-rows: repeat(7,94px);
    /*grid-template-columns: repeat(17, 1fr);*/
   /* grid-template-rows: repeat(7, 1fr); */

    grid-column-gap: 2px;
    grid-row-gap: 2px;

    justify-content: center;
    /* align-items: center; */


    /*     
    width: 100%;
    height: 100%; */
}

.verticalBox{
    border-color: black;
    border-style: solid;
    border:6px;
    display: flex;
}

.rectangleLeft{
    width: 50%;
    height: 100%;
    
    
}

.rectangleRight{
    
    width: 50%;
    height: 100%;
    
}

.RectangleDown{    
    
    width: 100%;
    height: 50%;
   
}

.RectangleUp{    
    width: 100%;
    height: 50%;

}

.svgImage {
    /* position: absolute; */
    width: auto;
    height: auto;
}

.verticalBox .UsableRectangleH{
    overflow: hidden;
    border-radius: 2px;
    /* border: 3px solid black; */    
    /* position: relative; */
}

.UsableRectangleW{
    width: 100%;
    height: 50%;
    border-width: 3px;
    display: flex;
    flex-direction: row;
    
}

.UsableRectangleH{
    width: 50%;
    height: 100%;
    border-width: 3px;
    display:flex ;
    flex-direction: column;
}

.horizontalBox .UsableRectangleW{
    
    background: white;
    border-radius:  5px;
    border: solid black 2px;
    max-width: 90px;


    display: flex;
    justify-content: center;
    align-items: center;
}

.verticalBox .UsableRectangleH{
    
    background: white;
    border-radius:  5px;
    border: solid black 2px;
    max-height: 90px;


    display: flex;
    justify-content: center;
    align-items: center;
}

.sideLeft{
    /* height: 100%;
    width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;

    /* padding:0 0 1px 0; */
    border-top: solid black 1px;
    /* border-right: solid black 1px; */

    rotate: 90deg;
 
}

.sideRight{
    /* height: 100%;
    width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    

    /* padding: 0 1px 0 0; */
    border-bottom: solid black 1px;
    /* border-left: solid black 1px; */

    rotate: 90deg;
}

.sideUp {
    /* height: 50%;
    width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: solid black 1px;
    /* border-right: solid black 1px; */
    
    /* rotate: 90deg; */
}

.sideDown {
    /* height: 50%;
    width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: solid black 1px;
    /* border-left: solid black 1px; */
    
    /* rotate: 90deg; */
}

.gamepiece{
    position: absolute;
    top:600px;
    left: 800px;
    background-color: whitesmoke;
    border-radius: 5px;
    border: solid 2px;
    width: 49px;
    height: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.pieceside1{
width:45px;
height: 45px;

}

.pieceside2{
width:45px;
height: 45px;


}

.rotate {
    rotate: 90deg;
    padding: auto;
}

.whitesquare{
    height: 92px;
    width: 45px;
    background-color: whitesmoke;
}
 

#pieceRec3{
    /* rotate: 180deg;
    rotate: 90deg; */   
}







    
#div1 { grid-area: 4 / 9 / 5 / 10; }
#div2 { grid-area: 4 / 10 / 5 / 11; }
#div3 { grid-area: 4 / 11 / 5 / 12; }
#div4 { grid-area: 4 / 12 / 5 / 13; }
#div5 { grid-area: 5 / 12 / 6 / 13; }
#div6 { grid-area: 6 / 12 / 7 / 13; }
#div7 { grid-area: 7 / 12 / 8 / 13; }
#div8 { grid-area: 7 / 13 / 8 / 14; }
#div9 { grid-area: 7 / 14 / 8 / 15; }
#div10 { grid-area: 7 / 15 / 8 / 16; }
#div11 { grid-area: 7 / 16 / 8 / 17; }
#div12 { grid-area: 7 / 17 / 8 / 18; }
#div13 { grid-area: 6 / 17 / 7 / 18; }
#div14 { grid-area: 5 / 17 / 6 / 18; }
#div15 { grid-area: 4 / 17 / 5 / 18; }
#div16 { grid-area: 3 / 17 / 4 / 18; }
#div17 { grid-area: 2 / 17 / 3 / 18; }
#div18 { grid-area: 1 / 17 / 2 / 18; }
#div19 { grid-area: 1 / 16 / 2 / 17; }
#div20 { grid-area: 1 / 15 / 2 / 16; }
#div21 { grid-area: 1 / 14 / 2 / 15; }
#div22 { grid-area: 2 / 14 / 3 / 15; }
#div23 { grid-area: 3 / 14 / 4 / 15; }
#div24 { grid-area: 4 / 14 / 5 / 15; }
#div25 { grid-area: 5 / 14 / 6 / 15; }
#div26 { grid-area: 5 / 15 / 6 / 16; }
#div27 { grid-area: 4 / 15 / 5 / 16; }
#div28 { grid-area: 3 / 15 / 4 / 16; }
#div29 { grid-area: 4 / 8 / 5 / 9; }
#div30 { grid-area: 4 / 7 / 5 / 8; }
#div31 { grid-area: 4 / 6 / 5 / 7; }
#div32 { grid-area: 5 / 6 / 6 / 7; }
#div33 { grid-area: 6 / 6 / 7 / 7; }
#div34 { grid-area: 7 / 6 / 8 / 7; }
#div35 { grid-area: 7 / 5 / 8 / 6; }
#div36 { grid-area: 7 / 4 / 8 / 5; }
#div37 { grid-area: 7 / 3 / 8 / 4; }
#div38 { grid-area: 7 / 2 / 8 / 3; }
#div39 { grid-area: 7 / 1 / 8 / 2; }
#div40 { grid-area: 6 / 1 / 7 / 2; }
#div41 { grid-area: 5 / 1 / 6 / 2; }
#div42 { grid-area: 4 / 1 / 5 / 2; }
#div43 { grid-area: 3 / 1 / 4 / 2; }
#div44 { grid-area: 2 / 1 / 3 / 2; }
#div45 { grid-area: 1 / 1 / 2 / 2; }
#div46 { grid-area: 1 / 2 / 2 / 3; }
#div47 { grid-area: 1 / 3 / 2 / 4; }
#div48 { grid-area: 1 / 4 / 2 / 5; }
#div49 { grid-area: 2 / 4 / 3 / 5; }
#div50 { grid-area: 3 / 4 / 4 / 5; }
#div51 { grid-area: 4 / 4 / 5 / 5; }
#div52 { grid-area: 5 / 4 / 6 / 5; }
#div53 { grid-area: 5 / 3 / 6 / 4; }
#div54 { grid-area: 4 / 3 / 5 / 4; }
#div55 { grid-area: 3 / 3 / 4 / 4; }